/* Butttons */

#busbutton, #trainbutton {
  background-color: #AA6039;
  color: #FFC8AA;
  border-radius: 28px;
  margin-right: 45px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 40px;
  font-size: 80px;
  font-style: normal;
  font-weight: 600;
  border: none;
  width: 835px;
  filter: drop-shadow(5px 5px 5px #8b8b8b);
  padding: 10px;
  text-align: center;
}

/*.letbane {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #AA6039;
  border-radius: 28px;
  margin-right: 45px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 40px;
  border: none;
  width: 835px;
}
.letbane a {
  font-size: 80px;
} */


/* the results box */

.resultbox {
  background-color: #AA6039;
  width: 855px;
  height: 384px;
  border-radius: 28px;
  margin-top: 20px;
  margin-left: 40px;
  color: rgba(85, 30, 0, 0.30);
  font-family: Advent Pro;
  font-size: 100px;
  text-align: center;
  font-weight: lighter;
  filter: drop-shadow(5px 5px 5px #8b8b8b);
  display: block;
}

/* Bus results */ 

#bus {
  background-color: #AA6039;
  width: 835px;
  height: 384px;
  border-radius: 28px;
  margin-top: -470px;
  margin-left: 430px;
  z-index: 10;
  filter: drop-shadow(5px 5px 5px #8b8b8b);
  padding-top: 40px;
  padding-left: 15px;
  padding-right: 15px;
  display: none;
}

#train {
  background-color: #AA6039;
  width: 835px;
  height: 384px;
  border-radius: 28px;
  margin-top: -470px;
  margin-left: 430px;
  z-index: 10;
  filter: drop-shadow(5px 5px 5px #8b8b8b);
  padding-top: 40px;
  padding-left: 15px;
  padding-right: 15px;
  display: none;
}

.art {
  display: flex;
  justify-content: space-between;
}

p {
  margin-left: 40px;
  margin-top: 20px;
  margin-bottom: 0px;
  margin-right: 40px;
  color: #FFC8AA;
  font-family: Noto Sans, sans-serif;
  font-size: 24.093px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h4 {
  color: #FFC8AA;
  font-family: Noto Sans, sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 40px;
  margin-right: 40px;
  margin-left: 40px;
  margin-bottom: 0px;
}

hr {
  margin-top: 40px;
  background: #551E00;
  width: 800px;
  height: 4px;
  border: none;
}