
/* THIS IS THE MAIN CSS FILE FOR ALL PAGES
IF YOU WANT TO ADD CSS FOR YOUR PAGE PLEASE CREATE ANOTHE CSS FILE */


body {
  margin: 0%;
  padding: 0%;
  color: #FFC8AA;
  font-family: 'Advent Pro';
}

header {
  color: #ffddcf;
  background-color: #551E00;
  display: flex;
  align-content: space-between;
  position: fixed;
  width: 1366px;
  height: 128px;
  font-size: xx-large;
}

.name {
  margin-top: 20px;
  font-weight: bold;
}

main {
  display: flex;
}

#main{
  display: flex;
  flex-direction: row;
  margin-left: 330px;
  height: 896px;
  width: 1116px;
  margin-top: 128px;
  padding-top: 50px;
  padding-left: 50px;
}

nav {
  display: block;
  background-color: #803A15;
  margin-top: 128px;
  margin-right: 50px;
  padding-right: 40px;
  padding-left: 30px;
  padding-top: 20px;
  height: 930px;
  width: 250px;
  position: fixed;
  font-size: xx-large;
}

#button {
  background-color: #AA6039;
  border-radius: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

#bar {
  width: 250px;
}

a {
  text-decoration: none;
  color: #FFC8AA;
}