@font-face {
    font-family: Noto Sans;
    src: url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');
}


body {
    height: 100vh;
    background-image: url(images/error4040.gif);
    background-size: cover;
    background-position: center;
    margin: 0px;
    padding: 0px;
}

h1 {
    color: #FFC8AA;
    font-family: Noto Sans, sans-serif;
    font-size: 100px;
    font-style: normal;
    font-weight: 500;
    margin-left: 3%;
    line-height: 15%;
    margin-top: 830px;
    margin-bottom: 0px;


}

h3 {
    color: #FFC8AA;
    font-family: Noto Sans, sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    margin-left: 3%;
    margin-top: 50px;
    
}

.textfireman {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.error404 {
    padding-top: 1px;
}

button {
    background: #AB6038;
    color: #FFC8AA;
    font-family: Noto Sans, sans-serif;
    font-size: 65px;
    border: none;
    border-radius: 9px;
    width: 332px;
    height: 86px;
    flex-shrink: 0;
    margin-right: 4%;
}

a {
    text-decoration: none;
    color: #FFC8AA;
}

