
body {
  margin: 0%;
  padding: 0%;
  color: #FFC8AA;
  font-family: 'Advent Pro';
}

header {
  color: #ffddcf;
  background-color: #551E00;
  display: flex;
  align-content: space-between;
  position: fixed;
  width: 1366px;
  height: 128px;
  font-size: xx-large;
}

.name {
  margin-top: 20px;
  font-weight: bold;
  padding-left: 30px;
  padding-right: 480px;
}

main {
  display: flex;
  margin: 0px;
  padding: 0px;
  flex-direction: column;
}

nav {
  display: block;
  background-color: #803A15;
  margin-top: 128px;
  margin-right: 50px;
  padding-right: 40px;
  padding-left: 30px;
  padding-top: 20px;
  height: 930px;
  width: 250px;
  position: fixed;
  font-size: xx-large;
}

#button {
  background-color: #AA6039;
  border-radius: 30px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 7px;
  font-size: larger;
}

#bar {
  width: 250px;
}

a {
  text-decoration: none;
  color: #FFC8AA;
}

p {
  font-family: sans-serif;
}

#box {
  background-color: #AA6039;
  border-radius: 17px;
  margin: 20px;
  padding: 5px;
  width: auto;
  height: auto;
}

.rulesimg {
    width: 1078px;
    height: 1484px;
    margin-left: 280px;
    margin-top: 60px;

}

#backc {
  background-color: #D48F6A;
  padding: 20px;
  width: 100%;

}
